/* Kirana11 theme css goes here */
*{ margin: 0; padding: 0; }
a, ul, img{ outline: 0; }
body{ color: #666; font-family: 'Nunito Sans', sans-serif; font-size: 13px; font-weight: 400; line-height: normal; background:#f7f8f9;}
p{ margin: 0 0 15px; }
.themecolor-text { color: #356D35; }
a { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; color: #356D35; }
a:hover { text-decoration: none; color: #cf2127; }
a:focus { outline: none; text-decoration: none; }
img { height: auto; max-width: 100%; }

/* Heading */
h1, h2, h3, h4, h5, h6 { margin: 20px 0 10px 0; font-weight: 500; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #666; }
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }
h1.page-title, h1.node-title { font-size: 30px; color: #2b2b2b; text-transform: uppercase; }

/* Drupal system links */
ul.links { padding: 0; margin: 0; list-style-position: inside; }
ul.links li { margin: 0; }
ul.links li a { text-transform: uppercase; font-size: 80%; font-weight: 700; }

/* Breadcrumb */
.breadcrumb { background:none; padding: 14px 0px;  }
.breadcrumb > li { margin: 0 2px 0 0; display: inline; }

/* Drupal status messages */
div.messages { padding: 15px 15px 15px 50px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; background-position: 13px 15px;}
div.messages ul li{line-height: 24px; text-align: left;}
div.messages a { font-weight: 700; }
div.messages.status { color: #468847; background-color: #dff0d8; border-color: #d6e9c6; }
div.messages.status a { color: #356635; }
div.messages.error { color: #b94a48; background-color: #f2dede; border-color: #ebccd1; }
div.messages.error a { color: #953b39; }
div.messages.warning { color: #c09853; background-color: #fcf8e3; border-color: #faebcc; }
div.messages.warning a { color: #a47e3c; }

/* Tables */
table { width: 100%; margin-bottom: 20px; border: 1px solid #dfdfdf; }
table tbody { border-top: none; }
table tr.even, table tr.odd, th { background-color: transparent; border-bottom: 1px solid #dfdfdf;}
thead tr th, thead tr td, tbody tr th, tbody tr td { padding: 8px; line-height: 142%; vertical-align: top; }

/* UL & OL lists */
ul li { list-style-type: square; }
ol li { list-style-type: decimal; }

/* Item lists */
.item-list ul li { border-bottom: 1px dashed #ddd; margin-bottom: 0; padding: 15px 0; }
#block-user-login .item-list ul li { border-bottom: none; padding: 0 0 5px 0; }
.item-list ul li.first { padding-top: 0; }
.item-list ul li.last { border-bottom: none; }

/* Pager */
ul.pager { overflow: hidden; padding: 0; width: 100%; clear: both; position: relative; margin-bottom: 25px; }
.item-list ul.pager li { display: inline;  float: left; margin: 0; padding: 0; border-bottom: none;}
ul.pager li a, ul.pager li.pager-current { background: #fff; border: 1px solid #eee; padding: 14px 20px; display: block; margin: 5px 3px 5px 0; 
-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
ul.pager li a:hover, ul.pager li.pager-current { background-color: #444; border-color: #444; color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.2); }

/* Forms */
input{ font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
input:focus, input[type="button"], input[type="reset"], input[type="submit"] { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
input.form-text, textarea.form-textarea, select { background-color: #fcfcfc; border: 2px solid #eaeaea; color: #999999; font-size: 14px;padding: 14px; width: 100%; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-radius: 5px; }
.form-control { -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
.chosen-container-single .chosen-single, .chosen-container-active.chosen-with-drop .chosen-single { border: none; background: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
input.form-text:focus, textarea.form-textarea:focus { background-color: #fff; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
select { -webkit-appearance: menulist; }
fieldset { padding:10px; margin: 0 2px; border: 1px solid #eaeaea; clear: left;}
legend { border-bottom: none; width: auto; margin: 0;}
input[type="radio"], input[type="checkbox"] { margin: 0px 0 3px; }
.form-item, .form-actions{ margin: 15px 0; position: relative; }
.form-item label{ position: absolute; top:-20px; }

/* Buttons */
.btn { -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 5px; padding: 8px 10px; }
.btn-default { border-color: #8ac249; background-color: #8ac249; color: #fff; }
.btn-success a { color: #fff; }
.btn-border { border-color: #8ac249; background: #fff; }
.btn-default:hover { background-color: #cf2127; border-color: #cf2127; color: #fff; }
.btn-success, .btn-primary { background-color: #8ac249; border-color: #8ac249; color: #FFFFFF; }
.btn-primary:hover { background-color: #cf2127; border-color: #cf2127; }
input[type="submit"], input[type="reset"], input[type="button"] { margin: 5px 5px 10px 0; background-color: #356D35; border: none; box-shadow: none; color: #fff; padding: 10px 25px; text-transform: capitalize; border-radius: 5px; }
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .highlighted-block .btn:hover,.highlighted-block .btn:focus { color: #fff; background: #cf2127; }

/* Tabs */
.nav-tabs { margin: 15px 0; }

/* Accordions */
.panel-group { margin: 25px 0; }
.panel-heading a:hover { text-decoration: none; }

/* Toggle control */
.toggle-control { width: 100%; position: relative; z-index: 13; }
.toggle-control a, .toggle-control a:hover { color: #fff; position: absolute; top: 0; right: 0; display: block; padding: 18px 19px; line-height: 14px; cursor: pointer; height: 52px; }

/* Drupal resets */
#toolbar { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
#toolbar ul.menu { width: auto; }
#toolbar ul.menu li { background: none; }
.not-logged-in .block-forum .contextual-links-wrapper { display: none; }
a.contextual-links-trigger, #toolbar a, textarea { -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none; transition: none; }

/* Drupal primary links */
ul.primary { margin: 15px 0 15px 0; padding-left: 0; }
ul.primary, ul.primary li a, ul.primary li.active a { border-color:#eaeaea; }
ul.primary li.active a { border-bottom: 1px solid #fff; }

/* FAQ */
.ui-accordion .ui-accordion-header { margin-top: 3px; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background: #f5f5f5; border-color: #ddd; color: #333; font-weight: 500; }
.ui-accordion .ui-accordion-content { border-color: #ddd; color: #666; font-family: 'Open Sans', sans-serif; font-size: 14px; overflow: visible; }

/* Layout design goes here */
/* Default Menu */
ul.menu { margin: 0; padding: 0; }
ul.menu li { list-style-position: inside; padding: 10px 0; margin:0;}
ul.menu li a { color: #999; display: inline-block; }
ul.menu li a:hover, ul.menu li a.active { text-decoration: none;}
ul.menu li.leaf { list-style-image: none; color: #444;}
ul.menu li.expanded { border-bottom: none; padding-bottom: 0;  }
ul.menu li.expanded ul { padding-left: 25px; border-top: 1px dashed #ddd; margin-top: 15px;}

/* Logo - Site name*/
#logo { padding: 70px 0 20px; text-align: center; z-index: 10; max-width: 100%; }
#logo img { display: inherit; width:55%; }
#logo img:hover { opacity: 0.8; filter: alpha(opacity=80); }
#site-name a { font-size: 38px; font-weight: 700; line-height: 1em; margin: 0 0 10px; color: #444444; display: block;}
#site-name a:hover { text-decoration: none; opacity: 0.8; filter: alpha(opacity=80); }
#site-slogan { color: #999; font-size: 13px; font-weight: 300; line-height: 150%; margin:10px 0 10px 0; }

/* Main menu */
.navbar { margin: 0; min-height: 0; width: 100%; border: none; background: #fff; }
.navbar-toggle { border: none; cursor: pointer; margin: 0px 10px 0; padding: 15px; right: 50%; -webkit-border-radius: 0px; -moz-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; color: #fff; }
#main-menu .navbar-toggle { margin-right: -60px; position: absolute; }
.navbar-collapse { padding: 0; }
.navbar-collapse.in { overflow: visible; }

/* Preloader */
#preloader { position:absolute; top:0; left:0; right:0; bottom:0; background-color:#000; z-index:9999; }
#status { width:200px; height:200px; position:absolute; left:50%; top:50%; background-image:url(../images/ajax-loader.gif); background-repeat:no-repeat; background-position:center; margin:-100px 0 0 -100px; }

/* Scroll to top */
#toTop { position: fixed; background: #356D35; width: 40px; height: 40px; bottom: 75px; right: 35px; cursor: pointer; color: #fff; font-size: 19px; text-align: center; display: none; padding: 8px 0; z-index: 14; border-radius: 100%; }
#toTop:hover { opacity: 1; filter: alpha(opacity=100); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; -ms-transition: all 0.3s; transition: all 0.3s; }

/* Top header goes here */
.top-header{ background: #f0efef; box-shadow: 0 0 8px #999; position: relative; z-index: 101; margin-bottom: 15px; }
.top-header .navbar-nav > li > a{ padding: 0 5px; color: #666; font-size: 12px; }
.top-header .navbar-nav > li > a.whatsapp-link i{ color: #51c85d; }
.top-header .navbar-nav > li > a span{ margin: 0; float: left; color: #333333; }
.top-header .navbar-nav > li > a span b{color:#5b895c !important; }
.top-header .navbar-nav > li > a strong{ display: block; border-top:1px solid #afafb0; color: #666666; font-size: 14px; }
.top-header .navbar-nav > li > a i, .top-header .navbar-nav > li > a span.glyphicon{ float:left; }
.top-header .navbar-nav > li > a span.glyphicon{font-size: 20px; }
.top-header .navbar-nav a[href^="javascript:"]{ cursor: default; }
.top-header .navbar-nav > li > a i.fa-whatsapp{ font-size: 30px; margin: 6px 5px 0 0; }
.top-header .navbar-nav > li > a i.fa-phone{ display: inline-block; border-radius: 60px; border: 2px solid #888; color: #888; margin:9px 5px 0 0; font-size: 14px; font-weight: 700; padding: 4px 6px; }
.top-header .navbar-nav > li > a i.fa-user-plus, .top-header .navbar-nav > li > a i.fa-user-o{ font-size: 21px; margin: 5px 10px 0 0; }
.top-header .navbar-nav > li > a i.fa-angle-down{ font-size: 21px; margin: 5px 0 0 5px; }
.top-header .dropdown-menu{ padding: 0; top: 39px; }
.top-header .dropdown-menu li{ list-style: none; }
.top-header .dropdown-menu li a{ padding: 10px 20px; font-size: 12px; }
.top-header .dropdown-menu .divider{ margin: 0; }
.region-top-header ul{ padding:10px 0; }
.region-header-location{ padding: 8px 0; cursor: pointer; text-align: left; }
.region-header-location i{ padding: 0 20px; }
.region-header-location i.fa-chevron-down{ position: absolute; right: 0; }
.header-location{ background: #fff; display: inline-block; padding: 13px; text-align: center;}
.overlay-popup{ display: none; background:rgba(0,0,0, 0.8); width: 100%; float: left; position: fixed; z-index: 999; height: 2500px; }
.overlay-popup-container{ background: #fff; padding: 15px; margin-top: 5%; border-radius: 5px; }
.overlay-popup-close{ margin-top: 4%; color: #fff; font-size: 30px; cursor: pointer;  }

/* Header goes here */
header .navbar{ padding:5px 0 0; z-index: 100; border-radius: 0; background: #f7f8fa; }
header .affix { top:0; box-shadow: 0 0 2px #999; }
header .navbar-toggle{ right: 0; }
.region-header-login i { font-size: 20px; padding-right: 2px;}
.region-header-login ul li a { color: #666; }
.region-header-login ul li a:hover, .region.region-header-login span:hover{ color: #356D35; }
.header-search i{ font-size: 24px; color: #f9f8f8; padding-top: 5px; }
.header-search{ background: #346d35; border-radius: 5px; height: 40px; margin-top: 8px;  }
.header-login-container ul li{ list-style: none; float: left; padding: 5px 0; font-size: 15px; width:50%; text-align: center; }
.header-login-container ul li.dropdown{ width: 100% !important; }
.header-login-container .dropdown-menu{ margin: 0; padding:0; }
.header-login-container .dropdown-menu li{ width: 100%; float: left; padding:0; margin: 0; }
.header-login-container .dropdown-menu li a{ padding: 5px 0; }
.header-login-container .dropdown-menu li a:hover{ background:#346d35; color: #fff !important; }
.header-cart-container{ padding: 10px; }
.header-cart-container span{ background: #cf2127; text-align:center; margin-left:-10px; font-weight: 700; width: 25px; border-radius: 50%; padding: 4px 3px; color: #fff; font-size: 11px; position: absolute; top: 0; }

/* header menu */
.region-header-menu h2{ display: none; }
.region-header-menu ul.menu{ background: #fff; width: 100%; float: left; padding: 10px; margin-top: 10px; }
.region-header-menu ul.menu > li{ background: #f1f1f1; padding: 10px 14px; margin-right: 10px; cursor: pointer;}
.region-header-menu ul.menu > li:last-child{ margin-right: 0; }
.region-header-menu ul.menu > li a{ color: #666; height: auto; background-position: center top; background-size: 30px; padding:32px 0 0;  }
.region-header-menu ul.menu > li > a > span.sf-sub-indicator{ display: none; }
.region-header-menu ul.menu > li:hover{ background: #fff; }
.region-header-menu .sf-sub-indicator{ height: 18px; top:8px; }
.region-header-menu .sf-menu.sf-horizontal.sf-shadow ul, .region-header-menu .sf-menu.sf-vertical.sf-shadow ul, .region-header-menu .sf-menu.sf-navbar.sf-shadow ul ul{ padding: 0 !important; }
.region-header-menu ul.menu > li ul{ background: #fff !important; border-radius: 0 !important; box-shadow: 8px 8px 8px -4px #ccc, -8px 8px 8px -4px #ccc; border:0px solid #ccc; margin-top: -1px; }
.region-header-menu ul.menu > li:last-child > ul{ right: 0; left: inherit; }
.region-header-menu ul.menu > li:last-child > ul ul, .region-header-menu ul.menu > li:nth-last-child(2) > ul ul{ right: 14em; left: inherit; }
.region-header-menu .sf-menu li:hover > ul, .region-header-menu .sf-menu li.sfHover > ul { top: 4.8em; }
.region-header-menu .sf-menu li li:hover > ul, .region-header-menu .sf-menu li li.sfHover > ul{ top:0; }
.region-header-menu .sf-menu ul{ width: 14em; }
.region-header-menu ul.menu > li ul li ul{ box-shadow: none; margin-top: 0px;  }
.region-header-menu ul.menu > li ul li{ padding: 0;}
.region-header-menu ul.menu > li ul li:hover{ background:#346d35; color: #fff !important; }
.region-header-menu ul.menu > li ul li a:hover{ background:#346d35; color: #fff !important; }
.region-header-menu ul.menu > li ul li a{ padding: 10px 10px 10px 13px;  width: 100%; float: left; }
.region-header-menu ul.menu > li ul li a:hover{ background:#346d35; color: #fff; }
.region-header-menu-o{ color: #fff !important; display: none; }


/* Banner goes here */
#banner{ width:100%; border:10px solid #fff; border-top:0; position: relative; margin-bottom: 20px; }
#banner img{ width: 100%; height: auto;  }
#banner .slick-dots{ position: absolute; bottom: 20px; width:100%; text-align: center;}
#banner .slick-dots li{ width: auto; display: inline-block; list-style: none; }
#banner .slick-dots li button{ border: 0; background: #fff; border-radius:50%; margin:0 5px; padding:7px; font-size: 0; }
#banner .slick-dots li.slick-active button{border: 4px solid #ccc; }
#banner .slick-list.draggable{ padding:0 !important; }

/* Store slider */
.store_slider .content{ margin: 9% 0 2%; background: #eeeff0; padding:10px; text-align: center;}
.store_slider .content .store-slider-logo{ height: 120px; margin-top:25px; }
.store_slider .content .store-slider-logo img{ display: inline-block !important; max-width: 80%; height: 100%; }
.store_slider .content h3{ margin: 15px 0; }
.store_slider .content .street-block .premise, .store_slider .content .street-block .thoroughfare{ overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
.store_slider .content .locality-block{ margin-bottom: 10px; }
.store_slider .content .shop-now-button{ margin: 30px 0 19px; display: inline-block;  }
.store_slider .content .shop-now-button a{ background: #346d35; padding: 9px 20px; color: #fff; border-radius: 5px; }
.store_slider .content .shop-now-button a:hover{ background:#cf2127;  }
.store_slider .content .slick-dots{ position: absolute; top:0; }
.store_slider .content .slick-dots li{ width: auto; float: left; list-style: none; }
.store_slider .content .slick-dots li button{ border: 1px solid #ccc; outline: 0; padding: 2px 5px; display: block; border-radius: 3px; background: #fff; color: #666; margin:0 5px; }
.store_slider .content .slick-dots li button:hover, .store_slider .content .slick-dots .slick-active button{ background:#346d35; color: #fff;  }
.store_slider .content .slick__arrow .slick-prev, .product_slider .content .slick__arrow .slick-prev{ float: left; position: absolute; left: 10px; top: 55%; outline: 0; }
.store_slider .content .slick__arrow .slick-next, .product_slider .content .slick__arrow .slick-next{ float: right; position: absolute; right: 10px; top: 55%; outline: 0;  }

/* Product slider*/
.product_slider .content .slide__content{ position: relative; padding: 0 10% }
.product_slider .content{ margin: 4% 0 0%; background: #ffffff; padding: 20px 20px 10px 20px; border:1px solid #eeeff0; text-align: center;}
.product_slider .content .product-deals-img{ height: 137px;  }
.product_slider .content .product-deals-img img{ max-width: 80%; height:100%; display: inline-block !important; }
.product_slider .content .product-title{ font-size: 13px; font-weight: 700; height: 28px; overflow: hidden; }
.product-price, .product-sale-price{ width: 50%; float: left; font-size: 17px; padding: 0px 0 10px; font-weight: 700; height: 30px; overflow:hidden; }
.product-price{ text-decoration: line-through; color: #333333; }
.product-sale-price{ color: #cc242e; }
.product_slider .content .sold-by{ font-weight: 700; padding-bottom: 12px; line-height: 15px; height: 32px; overflow: hidden; }
.product_slider .content .product-offer-price-image{ position: absolute; top:0; left: 0; background: url(../images/offer-price.png) no-repeat; background-size: 70%; width: 115px; height: 100px; }
.product_slider .content .form-item-quantity{ display: none; }


/* Partners and Brands */
#partners_brands .block-views{ margin: 5% 0; text-align: center; }
#partners_brands table{ border: 0; }
#partners_brands .view-header p{ margin-bottom: 2%; }
#partners_brands .slick-list{ padding:0 !important; }
#partners_brands .view-content{ position: relative; }
#partners_brands .slide__content .views-field-field-image img{ display: inline !important; }
.view-our-partners .slide__content .views-field-field-image img{ max-width: 50%; }
.view-our-partners .slide__content{ background: #f0f1f2; margin: 0 2%; padding: 5%; min-height: 200px;}
.view-home-top-brands .slide__content .field-content{ background: #fff; margin: 0 2%; padding: 5%; height: 200px;}
.view-home-top-brands .slide__content .field-content img{ width: 100%; height: 100%;}
#partners_brands .slide__content .field-content p{ margin: 0; font-size: 11px; padding: 10px 10% 0;}
.slick__arrow button{ background: none; border: 0; font-size: 30px; outline: 0;  }
.slick__arrow i{ color:#ccc; }
.region-partners-brands h2{ padding-bottom: 20px; }
.view-home-top-brands .slick__arrow .slick-prev, .view-our-partners .slick__arrow .slick-prev, .view-blogs .slick__arrow .slick-prev{ float: left; position: absolute; left: -50px; top: 40%; outline: 0; }
.view-home-top-brands .slick__arrow .slick-next, .view-our-partners .slick__arrow .slick-next, .view-blogs .slick__arrow .slick-next{ float: right; position: absolute; right: -50px; top: 40%; outline: 0;  }
.view-our-partners a{ margin: 10px 0 0; padding: 10px 30px; background: #346d35; color: #fff !important; border-radius: 5px; font-size: 13px; display: inline-block; }
.view-our-partners a:hover{ background:#cf2127;  }

/* Recent blog */
.region-recent-blogs h2{ text-align: center; margin-bottom: 3%; }
#recent_blogs .slide__content{ margin: 0 10px;  }
#recent_blogs .slide__content img{ border:5px solid #fff; margin: 0 auto; }
#recent_blogs .views-field-title a{ font-size: 18px; color: #666; margin-top:10px; display: block; }
#recent_blogs .views-field-created { font-size: 11px; color: #999; }
#recent_blogs .views-field-body{ margin: 15px 0; }
#recent_blogs .views-field-body p{ height: 55px; overflow:hidden;   }
#recent_blogs .views-field-view-node a{ float: right; text-decoration: underline; color: #666; }
#recent_blogs .views-field-view-node a:hover{ color: #346d35; text-decoration: none;  }
.read-all-button a{  background: #346d35; color: #fff !important; padding:10px; display: inline-block; border-radius: 5px; margin: 3% 0; width: 100px; text-align: center; position: relative; z-index: 9; }
.read-all-button a:hover{  background: #cf2127; }

/* Content goes here */
#content .container{ background: #f7f8f9; box-shadow: 8px 0 8px -4px #ccc, -8px 0 8px -4px #ccc; }
/*.not-front #content .container{ background: #fff; }*/
#wrapper{ margin: 15px 0; }
.front #wrapper { margin:0; }
aside{ background: #fff; box-shadow: 0 0 1px #999; }
aside section{ padding: 15px; }
.not-front #main-content section{ padding: 30px 15px; }
.front-content-box{ margin: 0 4%; }

/* Footer goes here */
footer{ background: #f0efef; color:#868686; text-align: center; }
#top-footer-inside{ padding:2% 0; }
.footer-logo{ max-width: 80% }
.top-footer-first .content p{ text-align: left; }
footer h2{ font-size: 14px; color: #666666; text-align:left; font-weight: 700; }
#top-footer-inside ul li, #top-footer-inside ul li a{ color:#666666; list-style: none; font-size: 13px; padding: 3px 0; text-align:left; }
#top-footer-inside ul li a:hover{ color: #cf2127;  }
.top-footer-second, .top-footer-third, .top-footer-fourth, .top-footer-fifth{ margin-left:10%; }
.top-footer-second .content, .top-footer-third .content, .top-footer-fourth .content, .top-footer-fifth .content{ margin-top:15px; }
.footer-more-links{ text-decoration: underline; }
.top-footer-fourth .fa-whatsapp{ font-size: 28px; color:#61bf5f; padding-right: 3px;  }
.top-footer-fourth .fa-phone{ font-size: 15px; border: 2px solid; padding: 3px 5px; border-radius: 50%;  }
.footer-social-media-buttons{ width: 100%; float:left; }
.footer-social-media-buttons li{ width: auto; float: left;  }
.footer-social-media-buttons li .fa{ color: #fff; border-radius: 50%; margin-right: 15px; font-size: 20px;  }
.footer-social-media-buttons li .fa-facebook{ background: #55709d; padding: 8px 12px;  }
.footer-social-media-buttons li .fa-twitter{ background: #1abbff; padding: 8px 9px;}
.footer-social-media-buttons li .fa-google-plus{ background: #e64a24; padding: 8px 7px; }
.footer-social-media-buttons li .fa-youtube-play{ background: #c93835; padding: 8px 8px; }
.footer-subscribe, .footer-subscribe-form{ width: 100%; float: left; line-height: 0; }
.footer-subscribe h2{ margin-top: 10px; }
.footer-subscribe-input{width: 60%; float: left; font-size: 13px; height: 35px; padding: 0 10px 4px; border: 0; border-radius: 3px; }
.subscribe-button {width: 35%; float: left; background:#356D35 !important; text-align: center; margin: 0 0 0 10px !important; height: 35px; padding: 0 0 3px !important; border-radius: 3px !important; font-size: 13px; text-transform: capitalize !important; }
.subscribe-button:hover{ background: #cf2127 !important; }
#bottom-footer{ background: #f7f8f9; }
#bottom-footer-inside p{ font-size: 12px; margin:30px; color: #666666; }

/** Landing page **/
.landing-page #content .container{ background: #f1f1f1; position: relative; padding: 20px 0; border:10px solid #fff; box-shadow: 8px 0 8px -4px #ccc, -8px 0 8px -4px #ccc; text-align: center; }
.landing-page .header{ margin: 15px 0 20px; }
.landing-page .header-left img{ max-width: 200px;} 
.landing-page .header-right ul{ float: right; margin: 5px 0 0; }
.landing-page .header-right ul li{ list-style: none; width: auto; float: left; }
.landing-page .header-right ul > li > a{ padding: 0 10px; color: #666; font-size: 12px; }
.landing-page .header-right ul > li > a.whatsapp-link i{ color: #51c85d; }
.landing-page .header-right ul > li > a span{ margin: 0; float: left; color: #333333; line-height: 20px; }
.landing-page .header-right ul > li > a span b{color:#5b895c !important; }
.landing-page .header-right ul > li > a strong{ display: block; border-top:1px solid #afafb0; line-height: 18px; color: #666666; font-size: 14px; }
.landing-page .header-right ul > li > a i, .top-header .navbar-nav > li > a span.glyphicon{ float:left; }
.landing-page .header-right ul > li > a span.glyphicon{font-size: 20px; }
.landing-page .header-right a[href^="javascript:"]{ cursor: default; }
.landing-page .header-right ul > li > a i.fa-whatsapp{ font-size: 30px; margin: 6px 5px 0 0; }
.landing-page .header-right ul > li > a i.fa-phone{ display: inline-block; border-radius: 60px; border: 2px solid #888; color: #888; margin:9px 5px 0 0; font-size: 14px; font-weight: 700; padding: 4px 6px; }
.landing-page #content .container h2{ font-size: 36px; margin-top: 15%; }
.landing-page #content .container h3{ font-size: 18px; margin: 0; }
.landing-page .find-location-container{ margin: 8% 0 5%; }
.landing-page .bottom-login-container{ width: 100%; float: left; font-size: 15px; }
.landing-page .bottom-login-container p a{ color: #626262; text-decoration: underline; font-weight: 700;  }
.landing-page .bottom-login-container p a:hover{ color: #356D35; }
.landing-page .detect-location{ width:60%; padding: 10px 0 !important; }
.landing-page .detect-location:hover{ background: #cf2127 !important }
.landing-page .select-location{ width:60%; padding:8px 10px; border:5px solid #356D35; border-radius: 3px; }
.landing-banner{ position: absolute; bottom:-100px;   }
.landing-banner img{ max-width: 100%; }
.landing-page .footer{ width: 100%; float: left; }
.landing-page .footer p{ width: 100%; float: left; text-align: center; font-size: 12px; margin: 3% 0; }
.node-type-thankyou .landing-banner{ bottom: -200px; }
.node-type-thankyou .landing-page .footer p{ margin: 20px 0; }
.node-type-thankyou h2{ margin: 0 0 20px !important; }
.landing-page form .description, .landing-page form label, .landing-page form .password-strength, .landing-page form div.password-confirm, .landing-page form#user-register-form .ajax-progress .message{ display: none; }
.find-location-container p.login-register{ margin: 0; font-size: 13px; }
.find-location-container p.regiter-terms{font-size: 13px; margin: 15px auto; display: inline-block;}
.find-location-container p.regiter-terms a{ text-decoration: underline; }
.landing-page form input{ border: none; font-size: 15px; color: #666666; padding: 10px; }
.find-location-container form .form-actions{ margin: 10px 0 0; font-size: 15px; }
.find-location-container form .form-actions input{ margin: 0 0 5px 0; padding: 10px 40px; color: #fff !important; }
.confirm-parent, .password-parent { width: auto; }
.landing-page form{ position: relative;}
.otp-send-button{ position: absolute; bottom: 134px; right: 20%; color: #fff !important; padding: 6px !important; font-size: 14px !important; }
.landing-page form#user-register-form .ajax-progress{ display: block; }
.landing-page form#user-register-form .ajax-progress .throbber{ position: absolute; right:25%; bottom: 133px; }
input[type="text"]#edit-detect-my-location, div#edit-detect-my-location{ background: #356635; color: #fff; cursor: pointer; text-align: center; margin: 0 auto; padding: 10px 20px; border-radius: 5px; font-size: 15px; width: 80%; }
input[type="text"]#edit-detect-my-location:hover, div#edit-detect-my-location:hover{ background: #cf2127; }
#edit-select-location{ border: 8px solid #356635 !important; padding: 8px !important; color: #666666; width: 80%;  }
.overlay-popup .or-text{ text-align: center; }
.overlay-popup #edit-select-location{ margin: 0 auto; display: inherit; }
.display-location-container{ margin: 0px 0 20px; z-index: 100; }
.display-location-container p{ margin: 0; }
.display-location-container p a{ text-decoration: underline; color: #666666;}
.display-location-container h3{ color: #356D35; padding:5px 0; font-weight: 700; }
.display-location-box{ background: #fff; padding: 10px; border-radius: 10px; margin: 0 auto 20px; width: 85%; }
.display-text-box{ margin: 0 auto; }
.landing-page .error-text-location, .find-change-location, .find-change-location .error-text-location, .overlay-popup .error-text-location{ display: none; }
.landing-page .error-text-location-p{ text-align: center; font-size: 13px; color: #D8000C; }
.landing-thank-you-section{ margin: 5% 0; z-index: 9; }
.landing-thank-you-section .fa-check-square{ color:#cf2127; font-size: 40px; }
.landing-thank-you-section h4{ margin: 5% 0; position: relative; }
.heading-line::before, .heading-line::after{ content: ""; position: absolute; border-top:1px solid #ccc; width: 35%; top: 12px;  }
.heading-line::before { left: 30px; }
.heading-line::after { right: 30px; }
.landing-page  .user-delivery-address fieldset{ display: none; }
.user-delivery-address form{ background: #fff; width: 100%; float: left; }
.user-delivery-address .views-row{ background: #fff; width: 46%; float: left; margin: 2%; border:1px solid #f7f8f9; position: relative; }
.user-delivery-address .views-field-commerce-customer-address .field-content{ margin: 5% 5% 5% 30%; text-align: left; }
.user-delivery-address .views-field-views-bulk-operations{ width: 20%; position: absolute; top:0; background: #f7f8f9; height: 100% }
.user-delivery-address .views-field-views-bulk-operations .form-item{ margin-top: 60% !important; }
.user-delivery-address input[type='radio'] { -webkit-appearance:none; width:20px; height:20px; border:1px solid #ccc; border-radius:50%; outline:none; box-shadow:0 0 5px 0px gray inset; background: #fff; outline: 0;}
.user-delivery-address input[type='radio']:hover { box-shadow:0 0 5px 0px orange inset; outline: 0; background:#356D35; }
.user-delivery-address input[type='radio']:before { content:''; display:block; width:60%; height:60%; margin: 20% auto; border-radius:50%; }
.user-delivery-address input[type='radio']:checked { background:#356D35 !important;}
.user-delivery-address .views-field-field-location-coordinates{ display: none; }
.user-delivery-address h4{ background: #fff; margin: 0; padding: 20px 0 10px;  }
.region-nodify-form{ width: 80%; margin: 0 10% 20px; float: left; background: #fff; border-radius: 10px; padding-bottom: 10px; }
.region-nodify-form input{ border:1px solid #eeeff0 !important; padding:10px !important; }
.region-nodify-form h2, .region-nodify-form .links{ display: none; }
.region-nodify-form h3{ font-size: 24px !important; padding:15px 0; }
.region-nodify-form p{ margin: 0 12%; }
.region-nodify-form  .webform-component-boolean input{ position: absolute; left: 25%; width: 10px; }
.region-nodify-form  .webform-component-boolean .description{ margin-left: 30%; text-align: left; display: block !important;  }
.notify-signup-link a{ font-weight: 700; font-size: 16px; }

.landing-banner-section{ position: relative; }
.landing-banner-section::after{ content:""; position: absolute; z-index: 99; width: 50px; height: 100%; right: 0; top:0; background: url(../images/landing-sidebar-shadow.png) no-repeat; }
.landing-banner-section p{ font-size: 18px; font-weight: 700; width: 70%; margin: 0 auto; color: #b4b4b4; padding: 30px 0;  }
.page-user-register h2, .notify h2, .landing-address h2{ margin: 0 !important;  }
.page-user-register form{ float: left; width: 100%; }
.landing-content-section .form-item, .form-item-kirana11-otp input{ margin: 0 0 20px !important; }
.landing-page iframe{ margin: 20px 0 }
.landing-page .region-recent-blogs h2{ margin: 20px !important; }
.thankyou-content{ background: #fff; width: 100%; float: left; padding:32% 0; margin: 5% 0 0; }
.thankyou-content h2{ display: block;}
.not-empty-location input{ margin-top: 15px; }
}
 
/* Blog */
.page-blog .node-teaser{ padding-bottom: 20px; border-bottom:1px solid #ccc; }

/* Media query goes here */
@media (min-width: 1199px) {
  body { font-size: 14px; }
}
@media (max-width: 1199px) {
	.container{ width: 100%; }
	.product_slider .content .product-deals-img{ height: 110px; }
	.product_slider .content .product-deals-img img{ max-width: 65%; }
	.store_slider .content .store-slider-logo{ height: 95px;}
}
@media (max-width: 980px) {
	.landing-page #content .container h2{ font-size:24px; }
	.landing-banner-section p{ font-size: 14px; }
	.landing-page #content .container h3{ font-size:15px; line-height: 20px;}
	h2{ font-size: 24px; }
	.heading-line::before, .heading-line::after{ width: 28%; }
	.node-type-thankyou .landing-banner{ bottom: -100px; }
	.node-type-thankyou .landing-banner{ bottom: -150px; }
	.node-type-thankyou .landing-page .footer p{ margin: 13% 0 3%; }
	.otp-send-button{ right:0px; bottom: 135px; }
	.region-nodify-form input { width: 95%; }
	.region.region-header-login i, .region.region-header-login ul li a { font-size: 13px;}
	.region-nodify-form  .webform-component-boolean input{ position: absolute; left: 5%; width: 10px; }
	.region-nodify-form  .webform-component-boolean .description{ margin-left: 10%; text-align: left; display: block !important;  }
}
@media (min-width: 992px) {
	.landing-page form input[type="text"], .landing-page form input[type="email"], .landing-page form input[type="password"], .find-location-container p.regiter-terms, #edit-detect-my-location, .landing-page input[type="text"], .display-text-box{ width:65%; }
	.landing-page .message-outer, .landing-page .error-text-location{ width: 50%; margin: 0 auto; }
}
@media (min-width: 768px) and (max-width: 979px) {
	/* Footer goes here */
	.footer-logo {max-width: 100%;}
	#top-footer-inside ul li, #top-footer-inside ul li a{ font-size: 11px; }
	.top-footer-fourth .fa-whatsapp{ font-size: 22px;}
	.top-footer-fourth .fa-phone{ font-size: 11px; padding: 2px 3px; }
	.region.region-top-footer-fourth ul li a{ font-size: 10px !important; }
	.region-top-footer-second h2, .region-top-footer-third h2{ margin: 0; height: 35px; }
	.region-top-footer-fourth h2, .region-top-footer-fifth h2{ margin: 10px 0; }
	.top-footer-second .content, .top-footer-third .content{ margin-top:12px;}
	.top-footer-fourth .content, .top-footer-fifth .content{ margin-top:18px; }
	.footer-social-media-buttons li .fa{ margin-right: 10px; }
	.landing-page form#user-register-form .ajax-progress .throbber{ right: 0px; bottom: 130px; }
	.display-location-box{ width: 100% !important; }
	/* store and deals slider*/
	.product_slider .content .product-deals-img img{ max-width: 85%; }
	.store_slider .content h3{ font-size: 13px; font-weight: 700; }
	.product_slider .content .product-title{ font-size: 12px; }
	.store_slider .content .street-block, .store_slider .content .locality-block{ font-size: 11px; }
	.product-price, .product-sale-price{ font-size: 13px; }
	.store_slider .content .store-slider-logo{ height: 115px; }
 
}
@media (min-width: 520px) and (max-width: 767px) {
	.heading-line::before, .heading-line::after{ width: 30% !important; }
}

@media (max-width: 700px) {
	.thank-you-video{ width: 100% !important; height: 300px; }
}
@media (max-width: 420px) {
	.thank-you-video{ height: 200px; }
}
@media (max-width: 767px) {
	body{ font-size: 11px; }
	h1, h2, h3, h4, h5, h6{ font-size: 20px; }
	#logo { float: left; padding: 10px 0; }
	.navbar { float: left; width: 100%; clear: left; }
	.navbar-collapse { margin-top: 0px; position: absolute; float: left; width: 100%; background:#8ac249; z-index: 20; border: none; padding: 0; }
	#toTop{width: 40px; height: 40px; bottom: 35px; right: 25px; padding:7px 0 0 0px; z-index: 99;}
	.front-content-box{ margin: 0; }

	/* header */
	#wrapper{ margin: 0; }
	#content .container{ padding-top: 105px; }
	header .navbar{ background: #fff; }
	.header-search{ position: absolute; width: 100%; margin: 0; top:55px; border-radius: 0; box-shadow: 0px 4px 6px #999; }
	header .navbar i { font-size: 24px; }
	.mobile-call-section{ padding:16px 16px 8px; }
	.mobile-top-header, .mobile-header-location{  background: #f0efef; position: relative; display: none; box-shadow: 0px 4px 6px #999; }
	.mobile-top-header .navbar-right li span{ width: 40%; float: right; margin-right: 40%; }
	.mobile-top-header li span strong{ border-top:1px solid ; display: block; }
	.mobile-top-header li i{ padding-top: 10px; }
	.region-top-header li{ padding: 0 20px; }
	.mobile-top-header li a:hover{ color: #356D35 !important; }
	.mobile-header-location p{  margin:0; padding: 15px 0;}
	.mobile-icon i{ padding: 12px 5px; }
	.region-top-header ul{ padding: 0; }
	.region-header-login ul li{ list-style: none; }
	.region-header-login i, .navbar .glyphicon-user{ display: none; }
	.region-header-login ul, .region-header-login ul.dropdown-menu{ display: block; position: relative; background: none; width: 100%; border-radius: 0; box-shadow:none; border: 0; margin: 0; padding: 0; }
	.region-header-login ul li, .region-header-login ul.dropdown-menu li{ margin: 0; padding: 0; }
	.region-header-login ul.dropdown-menu li a{ padding:10px 20px;  }
	.region-header-login ul li a:hover, .region-header-login ul.dropdown-menu li a:hover{ background: #fff; }
	.region-header-login ul li a{ width: 100%; float: left; border-top : 1px solid #ccc; padding: 10px 20px; }
	.region-header-login ul li a span{ width: 100%; }
	.navbar .fa-bars, .navbar .fa-map-marker{ cursor: pointer; }
	.region-header-location{  padding: 6px 0; }
	.region-header-location i{ font-size: 14px !important; }
	.overlay-popup-container{ margin-top: 20%; }
	.overlay-popup-close{ position: absolute; margin-top: 7%; right: 8%; }
	.navbar-right{ margin:0; }

	/* header menu*/
	.mobile-category-section{ font-size: 14px; background: #fff; cursor: pointer; box-shadow: 0 0 2px #ccc; }
	.mobile-menu-title{ padding: 10px; }
	.mobile-category-section .glyphicon-chevron-down{ padding:12px 0 0 16px; }
	.overlay-popup-menu{ display: none; background:rgba(0,0,0, 0.8); width: 100%; float: left; position: fixed; z-index: 999; height: 2500px; }
	.overlay-popup-menu-container{ background:#fff;  margin-top: 20%; }
	.overlay-popup-menu-title{ position: relative; }
	.overlay-popup-menu-title h2{ text-align: center; margin:0; padding: 15px 0; border-bottom: 1px solid #999; font-weight: 700; }
	.overlay-popup-menu-close{ position: absolute; right: 10%; top: 12px; cursor: pointer;  font-size: 24px; color: #999; }
	.region-header-menu ul.menu{ border-radius: 5px; }
	.region-header-menu #superfish-1-accordion{ position: relative !important; left: auto !important; top: auto !important; display: block !important; margin-top: 0; padding: 10px 0; }
	.region-header-menu .sf-accordion-toggle, .region-header-menu #superfish-1-accordion .sf-clone-parent{ display: none; }
	.region-header-menu ul.menu > li{ font-size: 14px !important; background: #fff; width: 100%; float: left; padding: 0 !important; margin-right: 0; }
	.region-header-menu ul.menu > li > a{ background-image: none; }
	.region-header-menu ul.menu li a, .region-header-menu ul.menu > li ul li a{ width: 100%; padding: 13px 0 11px 40px; }
	.region-header-menu ul.menu li a:hover{ background:none; }
	.region-header-menu ul.menu > li ul { background: #fff !important; border-radius: 0 !important; border: 0px solid #ccc; box-shadow: none; }
	.region-header-menu ul.menu li.menuparent:before{ content:'\f055'; color: #666; position: absolute; font-family:'FontAwesome'; font-size: 18px; top:10px; left: 15px; }
	.region-header-menu ul.menu li.sf-expanded:before{ content:'\f056'; }
	.region-header-menu ul.menu li.sf-expanded, .region-header-menu ul.menu > li ul li.sf-expanded a:hover{ background: #ccc; color: #666 !important; }
	.region-header-menu ul.menu li.sf-expanded > a{ font-weight: 700; }
	.region-header-menu ul.menu li{ border-bottom: 1px solid #999; }
	.region-header-menu ul.menu li > ul li.menuparent:before{ left: 35px; z-index: 100; }
	.region-header-menu ul.menu li > ul li a{ padding-left:60px; }
	.region-header-menu ul.menu > li ul li a:hover{ background: #fff; color: #333 !important; }
	/* Footer goes here */
	.top-footer-second, .top-footer-third, .top-footer-fourth, .top-footer-fifth{ margin-left: 0; }
	#bottom-footer-inside p{ font-size: 10px; } 
	.footer-logo{ max-width: 130px; }
	#top-footer-inside ul li, #top-footer-inside ul li a{ font-size: 12px; }

	/* banner*/
	#banner .slick-dots{ bottom: 0; }
	#banner .slick-dots li button{ padding:4px; }

	/* product_slider*/
	.product_slider{ margin: 0 15px; }
	.product_slider, .store_slider h2{ text-align: center; }
	.front-content-box h2{ padding: 0 15px; }

	/* Partners and Brands */
	#partners_brands h2{ font-size: 18px; }
	.view-our-partners .slide__content{ min-height: 145px;}
	.view-home-top-brands .slick__arrow, .view-our-partners .slick__arrow, .view-blogs .slick__arrow{ display: block; }
	.view-home-top-brands .slick__arrow .slick-prev, .view-our-partners .slick__arrow .slick-prev, .view-blogs .slick__arrow .slick-prev{ left: 0; }
	.view-home-top-brands .slick__arrow .slick-next, .view-our-partners .slick__arrow .slick-next, .view-blogs .slick__arrow .slick-next{ right: 0;  }

	/*Blog*/
	.read-all-button{ margin-bottom: 20px; }

	/* Landing page goes here */
	.landing-page .header { margin: 5px 0 10px;}
	.landing-page #content .container h2{ font-size: 22px; margin-top: 15%; }
	.landing-page .header-left{ width: 100%; float: left; text-align: center; margin: 10px 0 15px; }
	.landing-page .header-right ul{ margin: 0 auto; width: 305px; float: none;}
	.landing-page .header-right ul li{ margin-bottom: 5px; }
	.landing-page .header-right ul > li > a i.fa-whatsapp{ font-size: 24px; }
	.landing-page .header-right ul > li > a i.fa-phone{ font-size: 12px; padding: 3px 4px; }
	.landing-page .header-right ul > li > a strong{ font-size: 14px; }
	.landing-page form#user-register-form .ajax-progress .throbber{ right: 0px; bottom: 130px; }
	 #edit-detect-my-location{ font-size: 15px; }
	.find-location-container p{ margin: 0; font-size: 12px; }
	.find-location-container .form-item{ margin: 10px 0; }
	.landing-page .bottom-login-container{ font-size: 14px; }
	.landing-page .bottom-login-container a{ display: block; }
	.heading-line::before, .heading-line::after{ width: 10%; }
	.heading-line::before{ left: 0; }
	.heading-line::after{ right: 0; }
	.node-type-thankyou .landing-banner{ bottom: -8%; }
	.node-type-thankyou .slick-slide{ border:0; }
	.user-delivery-address .views-row{ width: 95%; }
	.region-nodify-form{ width: 90%; margin: 0 5% 5%; padding: 10px; }
	.region-nodify-form  .webform-component-boolean input{ position: absolute; left: 5%; }
	.region-nodify-form  .webform-component-boolean .description{ margin-left: 12%; font-size: 10px; }
	.display-location-box{ width: 100%; }
	.thankyou-banner{  width: 50%; margin-bottom: 20px; }

}
@media (min-width: 1101px) {
	.region-header-menu ul.menu > li:last-child{ padding: 10px 15px; }
}
@media (max-width: 1100px) {
	.region-header-menu ul.menu > li{ padding: 10px;}
}
@media (max-width: 1050px) {
	.region-header-menu ul.menu > li{ padding: 10px 7px;}
}
@media (max-width: 980px) {
	.region-header-menu ul.menu > li{ padding: 10px 6px; font-size: 13px;}
}
@media (max-width: 975px) {
	.region-header-menu ul.menu > li{ padding: 10px 6px; font-size: 12px;}
}
@media (max-width: 900px) {
	.region-header-menu ul.menu > li{ font-size: 11px;}
}
@media (max-width: 830px) {
	.region-header-menu ul.menu > li{ font-size: 10px; padding: 10px 4px; }
}


/*#block-responsive-dropdown-menus-menu-custom-menu .sub-menu{ position: fixed !important; top: 20px !important; left: 0 !important; }*/
